# OS
.DS_Store

# IDEs and editors
.idea
.project
*.launch
.settings/
*.sublime-workspace
**/.vs
.vscode

# IDE - VSCode
# this takes no action if we exclude whole folder like: .vscode/, according to https://git-scm.com/docs/gitignore:
# It is not possible to re-include a file if a parent directory of that file is excluded.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.csproj.user

# Misc
**/bin
**/obj
**/Debug